nav.react-material-navbar {
    height = 64px;
    actionPadding = 12px;
    actionMargin = 8px;

    display: flex;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 0px;
    position: relative;
    z-index: 1100;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    height: height;
    align-items: center;

	a {
		color: #fff;
		text-decoration: none;
        font-size: 16px;
        padding: 8px 20px;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        border-radius: 2px;

		&:hover {
			text-decoration: none;
            background: rgba(255,255,255,.1);
		}
	}

    .react-material-navbar-left {
        padding: actionPadding;
        margin: 0 actionMargin 0 0;
    }

    .react-material-navbar-right {
        padding: actionPadding;
        margin: 0 0 0 actionMargin;
    }

    .react-material-navbar-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0px;
        padding: 0;
        letter-spacing: 0px;
        font-size: 24px;
        font-weight: 400;
        line-height: height;
        flex: 1;
    }
}
